<%# <h1>THCH CHATの一覧画面</h1> %>
<div class="main-display">
  <% @posts.each do |post|%>
    <div class="questions-box">
      <div class="coment">
        <p class="count">0</p>
        <p class="text1">coments</p>
      </div>
      <div class="question">
        <div class="title-name">
          <div class="title"><%= post.title %></div>
          <div class="user-name"><%= post.name %></div>
        </div>
        <div class="context">
          <p><%= post.context %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
