/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}
/******************************************** 
*********************************************/

.header{
  background-color: #1C3367;
  width: auto;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  margin-left: 20px;
}
.logo a{
  font-family: Roboto;
  font-size: 23px;
  font-weight: 100;
  letter-spacing: 1.8px;
  color: #FFFFFF;
  text-decoration: none;
}
.posts-btn{
  margin-right: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 80px;
  display: flex;
  justify-content: center;
}
.posts-btn a{
  color: #3A3736;
  font-size: 16px;
  text-decoration: none;
}