/* --- index.html --- */
.main-display{
  background-color: #F2F2F3;
  min-height: 650px;
  width: auto;
  padding-top: 90px;
  display: block;
  padding-bottom: 10px;
}
.questions-box{
  width: 700px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.coment{
  background-color: #1c3667;
  height: 100px;
  min-width: 70px;
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.count{
  height: 38px;
  color: #FFFFFF;
  font-size: 26px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.text1{
  color: #FFFFFF;
  font-size: 11px;
  height: 16px;
  display: flex;
  justify-content: center;
}
.question{
  width: calc(100% - 70px);
  height: 100px;
  background-color: #FFFFFF;
  padding: 10px 15px;
}
.title-name{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.title{
  width: 500px;
  font-size: 14px;
}
.user-name{
  max-width: calc(100% - 500px);
  font-size: 12px;
}
.context p{
  font-size: 12px;
}

/* --- new.html --- */
.form-main{
  height: 650px;
  width: 100%;
  background-color: #F2F2F3;
  margin: 0;
}
.form-box{
  width: 700px;
  margin: 0 auto;
  padding-top: 80px;
}
.form-top{
  min-height: 45px;
  width: 100%;
  display: block;
  background-color: #1C3667;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form{
  background-color: #FFFFFF;
  width: 700px;
  min-height: 346px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 90px;
  padding-top: 40px;
}
.form-title{
  width: 520px;
  height: 30px;
  margin-bottom: 15px;
}
.form-text{
  width: 520px;
  height: 120px;
  margin-bottom: 15px;
}
.form-name{
  width: 520px;
  height: 30px;
  margin-bottom: 20px;
}
.form-post{
  width: 520px;
  height: 36px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #1C3667;
  border: none;
}